<ion-content>
  <div class="container">
    <h1 class="titulo">Editar Perfil</h1>

    <div class="formulario">
      <ion-item class="custom-input">
        <ion-icon style="color: black;" name="person-outline" slot="start"></ion-icon>
        <ion-label position="floating">Nome</ion-label>
        <ion-input [(ngModel)]="userData.nome" name="nome" type="text" required></ion-input>
      </ion-item>

      <ion-item class="custom-input">
        <ion-icon style="color: black;" name="mail-outline" slot="start"></ion-icon>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input [(ngModel)]="userData.email" name="email" type="email" required></ion-input>
      </ion-item>

      <ion-item class="custom-input">
        <ion-icon style="color: black;" name="calendar-outline" slot="start"></ion-icon>
        <ion-label position="floating">Data de Nascimento</ion-label>
        <ion-input [(ngModel)]="userData.dataNascimento" name="dataNascimento" type="text" placeholder="DD/MM/AAAA" required></ion-input>
      </ion-item>

      <ion-item class="custom-input">
        <ion-icon style="color: black;" name="transgender-outline" slot="start"></ion-icon>
        <ion-label position="floating">Sexo</ion-label>
        <ion-select [(ngModel)]="userData.sexo" name="sexo" placeholder="Selecione" required>
          <ion-select-option value="masculino">Masculino</ion-select-option>
          <ion-select-option value="feminino">Feminino</ion-select-option>
          <ion-select-option value="outro">Outro</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="custom-input">
        <ion-icon style="color: black;" name="football-outline" slot="start"></ion-icon>
        <ion-label position="floating">Time Favorito</ion-label>
        <ion-input [(ngModel)]="userData.timeFavorito" name="timeFavorito" type="text" required></ion-input>
      </ion-item>

      <ion-button expand="block" class="custom-button" (click)="atualizarNome()">Atualizar Nome</ion-button>
      <ion-button expand="block" class="custom-button" (click)="atualizarEmail()">Atualizar E-mail</ion-button>
      <ion-button expand="block" class="custom-button cancel" (click)="cancelarEdicao()">Cancelar</ion-button>
    </div>
  </div>
</ion-content>
