<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="principal">
      <ion-icon name="football"></ion-icon>
      <ion-label>Tabela</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="jogos-ao-vivo">
      <ion-icon name="radio"></ion-icon>
      <ion-label>Ao vivo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rodadas">
      <ion-icon name="today"></ion-icon>
      <ion-label>Rodadas</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="nova-aba">
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label>Sobre Nós</ion-label>
    </ion-tab-button>
    

  </ion-tab-bar>
</ion-tabs>
