<ion-header>
  <ion-toolbar>
    <ion-title>Equipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- Card 1 -->
      <ion-col size="12" size-md="6">
        <ion-card>
          <img class="imagem" src="assets/imagem 2.jpeg" alt="Foto do Integrante 1" />
          <ion-card-header>
            <ion-card-title>Nome: Alisson Luiz Patricio Milhar </ion-card-title>
            <ion-card-subtitle>Matrícula: 23203810</ion-card-subtitle>
            <ion-card-subtitle>Analista do projeto, coordenou as tarefas e documentações</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <!-- Card 2 -->
      <ion-col size="12" size-md="6">
        <ion-card>
          <img src="assets/imagem 3.jpeg" alt="Foto do Integrante 2" />
          <ion-card-header>
            <ion-card-title>Nome: Erick Marques da Conceição </ion-card-title>
            <ion-card-subtitle>Matrícula: 23201867</ion-card-subtitle>
            <ion-card-subtitle>Desenvolvedor principal, liderou a integração do app com APIs</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <!-- Card 3 -->
      <ion-col size="12" size-md="6">
        <ion-card>
          <img src="assets/imagem 4.jpg" alt="Foto do Integrante 3" />
          <ion-card-header>
            <ion-card-title>Nome: Guilherme Braga da Silva</ion-card-title>
            <ion-card-subtitle>Matrícula: 23203233</ion-card-subtitle>
            <ion-card-subtitle>Desenvolvedor frontend, responsável pela criação e estrutura das telas do app</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <!-- Card 4 -->
      <ion-col size="12" size-md="6">
        <ion-card>
          <img src="assets/imagem 1.jpeg" alt="Foto do Integrante 4" />
          <ion-card-header>
            <ion-card-title>Nome: Yan Patrick Pereira Alvarez</ion-card-title>
            <ion-card-subtitle>Matrícula: 23201876</ion-card-subtitle>
            <ion-card-subtitle>Responsável pelo design, criou a identidade visual do app</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
